Repository peteywee/fresh: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx,json,css,md}": ["prettier --write", "git add"],
  "*.{ts,tsx}": ["eslint --fix", "git add"]
}

chore: update Husky hooks for v10+ best practices
  .husky/pre-commit
  .husky/pre-push
  package.json
Due: prettier --write

Fix CI pipeline issues: tests, security scan, and vitest config
  apps/web/.env.example
  tests/api.test.ts
  tests/session.test.ts
  tests/setup.ts
Due: prettier --write, eslint --fix

Add missing @next/bundle-analyzer dependency
  apps/web/package.json
Due: prettier --write

Fix CI failures and improve landing page
  .github/workflows/performance.yml
  .github/workflows/preview.yml
  .lhci/lighthouserc.json
  apps/web/app/api/forgot-password/route.ts
  apps/web/app/page.tsx
  apps/web/next.config.analysis.js
  apps/web/next.config.js
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

lock
  package-lock.json
Due: prettier --write

message
  pnpm-lock.yaml
Due: none

Checkpoint from VS Code for coding agent session
  package-lock.json
  pnpm-lock.yaml
Due: prettier --write

test(session): refactor session verification to pure helper and fix mocking strategy
  apps/web/lib/session.ts
  tests/session.test.ts
Due: prettier --write, eslint --fix

feat: decline reason + notifications, PWA icons pipeline, settings fallback, relaxed engines, role schema refactor
  README.md
  apps/web/app/api/schedules/[id]/decline/route.ts
  apps/web/app/dashboard/page.tsx
  apps/web/app/layout.tsx
  apps/web/app/not-found.tsx
  apps/web/app/settings/page.tsx
  apps/web/components/ClientPerformanceShell.tsx
  apps/web/package.json
  docs/SCHEDULES.md
  package.json
  packages/types/package.json
  packages/types/src/auth.ts
  packages/types/src/index.ts
  packages/types/src/role.ts
  pnpm-lock.yaml
  public/icons/icon-1024.png
  public/icons/icon-16.png
  public/icons/icon-180.png
  public/icons/icon-192-maskable.png
  public/icons/icon-192.png
  public/icons/icon-256.png
  public/icons/icon-32.png
  public/icons/icon-384.png
  public/icons/icon-48.png
  public/icons/icon-512-maskable.png
  public/icons/icon-512.png
  public/icons/icon-64.png
  public/icons/logo.svg
  public/logo.svg
  public/manifest.json
  public/safari-pinned-tab.svg
  scripts/check-node-version.cjs
  scripts/generate-icons.ts
  services/api/package.json
  tests/schedules-status.test.ts
  tests/session.test.ts
Due: prettier --write, eslint --fix

fix(web): remove duplicate (public) register page causing route conflict
  apps/web/app/(public)/register/page.tsx
Due: prettier --write, eslint --fix

🔧 Update dependencies and dev environment
  .devcontainer/devcontainer.json
  .github/workflows/ci.yml
  .nvmrc
  Dockerfile
  apps/web/app/api/admin-health/name: CI
  apps/web/package.json
  package-lock.json
  package.json
  packages/types/package.json
  pnpm-lock.yaml
  scripts/check-node-version.cjs
  services/api/package.json
Due: prettier --write

fix(auth): stabilize Firebase env loading and Admin key resolution; add debug endpoints and Google icon; pin Node 20.19.4 to silence engine warnings
  .gitignore
  apps/web/app/(public)/auth.module.css
  apps/web/app/(public)/register/page.tsx
  apps/web/app/api/debug/env/route.ts
  apps/web/app/api/debug/firebase-config/route.ts
  apps/web/app/api/test/route.ts
  apps/web/app/calendar/page.tsx
  apps/web/app/settings/page.tsx
  apps/web/lib/firebase.admin.ts
  apps/web/lib/firebase.client.ts
  apps/web/lib/useTheme.tsx
  apps/web/next.config.js
  apps/web/public/icons/google.svg
  package.json
  scripts/check-node-version.cjs
Due: prettier --write, eslint --fix

ci(pre-push): align Node to .nvmrc in hook; fix Next build by removing firebase-admin from optimizePackageImports; pin functions to Node 20.19.4; update lockfile
  .husky/pre-push
  apps/web/next.config.js
  functions/package.json
  pnpm-lock.yaml
Due: prettier --write

refactor: improve codebase quality and consistency
  apps/web/app/layout.module.css
  apps/web/app/layout.tsx
  apps/web/lib/firebase.admin.ts
  apps/web/next.config.js
  apps/web/package.json
  apps/web/public/sw-register.js
Due: prettier --write, eslint --fix

feat: Enhance middleware for role-based access control and session management
  .github/copilot-instructions.md
  apps/web/app/layout.tsx
Due: prettier --write, eslint --fix

empty message
  package.json
  pnpm-lock.yaml
Due: prettier --write

🚀 Major refactor: Google auth fixes + comprehensive CI/CD pipeline
  .eslintrc.cjs
  .github/copilot-instructions.md
  .github/copilot-setup-steps.yml
  .github/instructions/api-routes.instructions.md
  .github/instructions/react-components.instructions.md
  .github/instructions/shared-types.instructions.md
  .github/instructions/testing.instructions.md
  .github/workflows/ci.yml
  .github/workflows/security.yml
  .github/workflows/todo.yml
  00-812.pdf
  apps/web/.husky/pre-commit
  apps/web/app/(public)/auth.module.css
  apps/web/app/(public)/login/page.tsx
  apps/web/app/(public)/register/page.tsx
  apps/web/app/layout.tsx
  apps/web/eslint.config.mjs
  apps/web/lib/auth-google.ts
  apps/web/lib/firebase.client.ts
  docs/AUTH_FIX_GOOGLE_SIGNIN.md
  docs/CI_CD_PIPELINE.md
  eslint.config.cjs
  scripts/wt-app-auth-008.sh.backup
Due: prettier --write, eslint --fix

🔒 Update pnpm lockfile after workflow validation
  pnpm-lock.yaml
Due: none

feat: implement production MVP with security hardening
  .bundlewatchrc.json
  .dockerignore
  00-812.pdf
  TEST_COMMIT.txt
  apps/web/next.config-old.js
  apps/web/next.config.analysis.js
  docs/API/.nojekyll
  docs/API/assets/hierarchy.js
  docs/API/assets/highlight.css
  docs/API/assets/icons.js
  docs/API/assets/icons.svg
  docs/API/assets/main.js
  docs/API/assets/navigation.js
  docs/API/assets/search.js
  docs/API/assets/style.css
  docs/API/hierarchy.html
  docs/API/index.html
  docs/API/modules.html
  package.json
  pnpm-lock.yaml
  services/api/package.json
  services/api/src/auth-old.ts
  services/api/src/auth.ts
  services/api/src/index.ts
Due: prettier --write, eslint --fix

feat(auth): implement OAuth integration and fix authentication bugs
  apps/web/app/(public)/login/page.tsx
  apps/web/app/api/error-tracking/route.ts
  apps/web/app/global-error.tsx
  apps/web/app/layout.tsx
  apps/web/components/ClientErrorHandler.tsx
  apps/web/lib/auth-email.ts
  apps/web/lib/firebase.admin.ts
Due: prettier --write, eslint --fix

feat(workflow): implement comprehensive documentation and git workflow system
  docs/AUTHENTICATION_OAUTH_UPDATE.md
  docs/WORKFLOW_SYSTEM.md
  docs/api/admin-health.md
  docs/api/admin/users.md
  docs/api/dashboard/events.md
  docs/api/dashboard/stats.md
  docs/api/debug/cookies.md
  docs/api/debug/env.md
  docs/api/debug/firebase-config.md
  docs/api/debug/flags.md
  docs/api/error-tracking.md
  docs/api/forgot-password.md
  docs/api/onboarding/complete.md
  docs/api/onboarding/join.md
  docs/api/projects.md
  docs/api/public/firebase-config.md
  docs/api/register.md
  docs/api/roles.md
  docs/api/schedules.md
  docs/api/schedules/[id].md
  docs/api/schedules/[id]/confirm.md
  docs/api/schedules/[id]/decline.md
  docs/api/session/current.md
  docs/api/session/get.md
  docs/api/session/login.md
  docs/api/session/logout.md
  docs/api/team/bulk-roles.md
  docs/api/team/members.md
  docs/api/team/members/[id].md
  docs/api/team/members/accept.md
  docs/api/team/roles.md
  docs/api/test.md
  docs/templates/api-endpoint.md
  docs/templates/component.md
  docs/templates/feature.md
  scripts/check-oauth.sh
  scripts/docs-workflow.sh
  scripts/git-workflow.sh
  scripts/pre-commit-hook.sh
  scripts/setup-oauth.sh
Due: prettier --write

feat: fix turbopack configuration and improve google auth debugging
  apps/web/app/(public)/login/page.tsx
  apps/web/middleware.ts.backup
  apps/web/next.config.js
  apps/web/package.json
  apps/web/turbopack.md
  docs/TURBOPACK_INTEGRATION.md
  package.json
  public/icons/email.svg
  public/icons/google.svg
  public/icons/lock.svg
  public/icons/user.svg
  scripts/debug-google-auth.sh
  scripts/dev-status.sh
  scripts/dev-turbo.sh
  scripts/pre-commit-hook.sh
Due: prettier --write, eslint --fix

feat(auth): implement comprehensive OAuth debugging and Turbopack integration
  apps/web/app/(public)/login/page.tsx
  apps/web/app/api/debug/oauth/route.ts
  apps/web/lib/oauth-debug.ts
  scripts/setup-oauth-codespaces.sh
Due: prettier --write, eslint --fix

fix(api): resolve bcryptjs module import issue
  services/api build: src/auth.ts
  services/api/src/auth.ts
Due: prettier --write, eslint --fix

feat: implement complete Firebase authentication system
  apps/web/app/(public)/auth.module.css
  apps/web/app/(public)/forgot-password/page.tsx
  apps/web/app/(public)/login/page.tsx
  apps/web/app/(public)/register/page.tsx
  apps/web/app/api/admin-health/route.ts
  apps/web/app/page.tsx
  apps/web/components/RequireAuth.tsx
  apps/web/lib/auth-email.ts
  apps/web/middleware.ts
  apps/web/package.json
  package.json
  packages/types/package.json
  packages/types/src/auth.ts
  scripts/check-node-version.cjs
  services/api/package.json
Due: prettier --write, eslint --fix

docs: add comprehensive authentication system documentation
  docs/AUTHENTICATION.md
  docs/ENVIRONMENT_SETUP.md
  docs/INTEGRATION_GUIDE.md
  docs/templates/auth-master.html
Due: prettier --write

build: add packageManager field to package.json
  package.json
Due: prettier --write

feat(docs): add comprehensive Firebase authentication guides and templates
  .devcontainer/devcontainer.json
  .esignore
  .lhci/lighthouserc.json
  tests/api.test.ts
  tests/basic.test.ts
  tests/branding.test.ts
  tests/members.test.ts
  tests/schedules-status.test.ts
  tests/session-flags.test.ts
  tests/session.test.ts
  tests/setup.ts
Due: prettier --write, eslint --fix

fix: resolve BrandingProvider build error
  .devcontainer/devcontainer.json
  .lhci/lighthouserc.json
  apps/web/app/layout.tsx
  apps/web/components/Providers.tsx
  docs/templates/auth-master.html
  tests/api.test.ts
  tests/basic.test.ts
  tests/branding.test.ts
  tests/members.test.ts
  tests/schedules-status.test.ts
  tests/session-flags.test.ts
  tests/session.test.ts
  tests/setup.ts
Due: prettier --write, eslint --fix

feat: improve user flow routing to skip welcome page
  apps/web/app/(public)/login/page.tsx
  apps/web/app/(public)/register/page.tsx
  apps/web/app/layout.tsx
  apps/web/app/page.tsx
Due: prettier --write, eslint --fix

Potential fix for code scanning alert no. 20: Server-side request forgery
  apps/web/app/actions.ts
Due: prettier --write, eslint --fix

feat: Enhanced Google Sign-In with auth/internal-error handling
  apps/web/app/(public)/auth-debug/page.tsx
  apps/web/app/(public)/login/page.tsx
  apps/web/app/api/session/me/route.ts
  apps/web/lib/auth-google.ts
Due: prettier --write, eslint --fix

docs: Add comprehensive documentation for critical fixes and recovery procedures
  docs/AUTH_DEBUG_GUIDE.md
  docs/CRITICAL_FIXES.md
  docs/CURRENT_STATE.md
  docs/RECOVERY_PROCEDURES.md
Due: prettier --write

enhance: Improved Google Sign-In logic with consistent auth instances and better error handling
  .backup/gsi-rollback-20250917-223145/auth.module.css.gsi
  .backup/gsi-rollback-20250917-223145/login-page.tsx.gsi
  .vscode/settings.json
  FIREBASE_SETUP.md
  apps/web/app/(public)/login/page.tsx
  apps/web/app/api/session/login/route.ts
  apps/web/app/global-error.tsx
  apps/web/app/layout.tsx
  apps/web/components/Providers.tsx
  apps/web/lib/auth-google.ts
  services/api/src/auth.ts
Due: prettier --write, eslint --fix

fix: Resolve layout crash and build errors
  apps/web/app/settings/page.tsx
  apps/web/app/settings/page.tsx.backup
  apps/web/components/Providers.tsx
Due: prettier --write, eslint --fix

fix(layout): make Providers a default export and add safe client wrapper
  apps/web/app/layout.tsx
  apps/web/components/Providers.client-wrapper.tsx
  apps/web/components/Providers.safe.tsx
  apps/web/components/Providers.tsx
Due: prettier --write, eslint --fix

WIP: async client component debugging attempt
  apps/web/app/layout.tsx
  apps/web/components/Providers.client-wrapper.tsx
  apps/web/components/Providers.safe.tsx
Due: prettier --write, eslint --fix

Checkpoint from VS Code for coding agent session
  apps/web/app/(public)/login/page.tsx
  apps/web/app/api/session/login/route.ts
Due: prettier --write, eslint --fix
